<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <meta name="author" content="Hang Zhang">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    {% include meta.html %}
      
    <link rel="shortcut icon" href="{{ site.baseurl }}/files/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/files/hangzh.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/academicons/css/academicons.css">
      
    <script type="text/javascript" src="{{ site.baseurl }}/files/hidebib.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>
