    {% if page.excerpt %}
    <meta name="description" content="{{ site.description }} - {{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ site.description }} – {{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
